.data-viewer {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/transparant.png);
    background-size: 70px;
}

.image-viewer {
    width: 90%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.label-panel {
    width: 25%;
    height: 100vh;
    background-color: rgba(var(--color-primary), 0.8);
    padding: 1rem 1.5rem;
}

.modal .nex-label-flex {
    gap: 0.5rem;
}

.modal .label-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(var(--color-secondary), 0.8);
    background-color: rgba(var(--color-secondary), 0.1);
    padding: 0.4rem 0.6rem;
    font-size: 0.9em;
}

.modal .label-input:focus {
    outline: none;
    border-bottom: 2px solid rgba(var(--color-primary), 0.9);
    background-color: rgba(var(--color-primary), 0.1);
}

.modal .leditor-labels {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.modal .leditor-labels .label {
    background-color: rgba(var(--color-primary), 0.5);
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgba(var(--color-primary), 0.9);
    border-radius: 4px;
}

.labels-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.label-panel .label {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    padding: 0.6rem 0.7rem;
    border: 2px solid #424242;
    border-radius: 4px;
    cursor: pointer;
}

.label-panel .label.selected {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url(../../assets/icons/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.label-panel .label:not(.selected):hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.label-panel .confirm-button {
    width: 100%;
    margin: 1rem 0 0 0;
    background-color: rgba(89, 89, 89, 0.3);
    font-weight: 300;
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
    text-align: center;
}

.label-panel .confirm-button.valid {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    cursor: pointer;
}

.etiquetage-completed {
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.etiquetage-completed > div {
    max-width: 70%;
}

.etiquetage-completed h1 {
    margin: 0 0 1rem 0;
}

.etiquetage-completed img {
    width: clamp(100px, 30vw, 500px);
    margin-bottom: 2rem;
}