.data-banner {
    width: 100%;
    background-color: rgba(var(--color-primary), 0.9);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-banner h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.data-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.data-element {
    flex-basis: 21%;
    flex-grow: 1;
    border-radius: 6px;
    background-color: rgba(var(--color-primary), 0.3);
    max-width: 40%;
    overflow: hidden;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: data-element 0.8s ease-in-out;
}

.data-element .data-element-overlay {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    color: #fff;
    padding: 2.5rem 0 0.7rem 0.9rem;
}

.data-element .delete-button {
    position: absolute;
    top: -2rem;
    right: 0.5rem;
    background-color: rgba(var(--color-primary), 1);
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border: 1px solid #fff;
    font-weight: 700;
}

.data-element:hover .delete-button {
    top: 0.5rem;
}

.data-element.data-element-incorrect {
    padding: 0.9rem;
}

.data-element.data-element-incorrect span.file-name {
    background-color: rgba(var(--color-primary), 0.9);
    color: #fff;
    padding: 0.2rem 0.4rem;
    font-family: monospace;
}

@keyframes data-element {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

.empty-dataset {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-dataset > div {
    max-width: 70%;
}

.empty-dataset h1 {
    margin: 0 0 1rem 0;
}

.empty-dataset img {
    width: clamp(100px, 30vw, 500px);
    margin-bottom: 2rem;
}