{% extends 'models/editor/editor.html' %}

{% block title %}Jeu de données{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor/etiquetage.css') }}">
{% endblock %}

{% block editor %}

<div class="flexbox" id="etiquetageMain">
    <div class="data-viewer">
        <div class="image-viewer" id="imageViewer">
            <!-- Emplacement de l'image -->
        </div>
    </div>
    <div class="label-panel">
        <h1>Image #<span id="currentDocumentId">...</span></h1>
        <p>Choisissez une ou plusieurs étiquettes qui correspondent à cette image.</p>

        <!-- liste des étiquettes -->
        <div id="labelsList" class="labels-list">

        </div>

        <div id="confirmButton" class="confirm-button">Valider</div>

    </div>
</div>

<!-- Ecran 'étiquetage terminé' -->
<div id="etiquetageCompleted" class="etiquetage-completed" style="display: none">
    <img src="{{ url_for('static', filename='assets/etiquetage_termine.png') }}" alt="etiquetage complété">
    <div class="text-center">
        <h1>Étiquetage terminé !</h1>
        <p>Vous avez étiqueté tous les éléments de votre jeu de données.<br>Vous pouvez importer de nouveaux
            documents à étiqueter pour renforcer votre modèle, ou bien passer à l'entrainement.</p>
    </div>
</div>

{% endblock %}

{% block modals %}

<div class="modal" id="modal_labelEditor">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Éditeur d'étiquettes</h2>
            <button class="btn-border btn-white" id="labelEditor_valider" style="display: none"
                onclick="closeModal('labelEditor')">Fermer</button>
        </div>
        <div class="modal-body">

            <div id="labelEditor_1">
                <img src="{{ url_for('static', filename='assets/etiquetage_modal.png') }}" style="width: 100%"
                    alt="modele">
                <p>Les machines ne savent pas intuitivement reconnaitre les objets, c'est pourquoi il faut leur
                    apprendre à les différencier. Pour cela, vous allez devoir <strong
                        class="primary">étiqueter</strong> les images de votre jeu de données.<br><br>
                    Si on veut faire une IA qui sait reconnaitre les chats et les chiens, on doit créer deux étiquettes;
                    "chat" et "chien".
                    Puis pour chacune des images de votre jeu de données, vous devrez attribuer les bonnes étiquettes,
                    si vous voyez un chat, étiquetez l'image par "chat", et faites l'inverse pour un chien.</p>
                <div class="flexbox flex-end">
                    <button class="btn-border btn-primary mtop-1" id="addLabelNextStepButton">Suivant</button>
                </div>
            </div>

            <div id="labelEditor_2" style="display:none">
                <p>Avant de commencer, vous devez donc créer des <strong class="primary">étiquettes</strong>. Elles
                    doivent permettre de catégoriser toutes les images de votre jeu de données.</p>
                <div id="labelsListEditor" class="leditor-labels">
                    <!-- Liste des étiquettes -->
                </div>
                <div class="flexbox mtop-1 nex-label-flex">
                    <input type="text" id="labelEditor_labelName" class="label-input" placeholder="Nom de l'étiquette">
                    <button id="labelEditor_addLabelButton" class="btn-border btn-primary">Ajouter</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="modal_aucunDocument">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Jeu de données vide</h2>
        </div>
        <div class="modal-body">
            <p>
                Il n'y a aucun document à étiqueter pour l'instant ! Ajoutez-en dans l'espace "Jeu de données" et puis
                revenez ici.
            </p>
            <a href="{{ url_for('models.data', id=model['id']) }}"><button class="btn-border btn-primary mtop-1">
                    Ajouter des documents</button></a>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/editor/etiquetage.js') }}"></script>

<script>
    getLabellingData();
</script>
{% endblock %}