{% extends 'models/editor/editor.html' %}

{% block title %}Jeu de données{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor/etiquetage.css') }}">
{% endblock %}

{% block editor %}


{% endblock %}

{% block modals %}

<div class="modal" id="modal_aucunDocument">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Jeu de données vide</h2>
        </div>
        <div class="modal-body">
            <p>
                Il n'y a aucun document à étiqueter pour l'instant ! Ajoutez-en dans l'espace "Jeu de données" et puis
                revenez ici.
            </p>
            <a href="{{ url_for('models.data', id=model['id']) }}"><button class="btn-border btn-primary mtop-1">
                    Ajouter des documents</button></a>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/editor/train.js') }}"></script>
{% endblock %}